$theme-colors: (
  	"primary": #3F51B5,
	"secondary": #5C6BC0,
	"warning": #FFCA28,
  	"danger": #C2185B,
	"dark": #37474F
);

@import "~bootstrap/scss/bootstrap";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	margin-top: 3rem;
}

.title {
	font-weight: 300;
	font-size: 2rem;
	color: $dark;
}

.formContainer {
    padding: 2rem;
}

.header-button {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: 3px solid;
}

.dropdown-menu {
	max-height: 280px;
	overflow-y: auto;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}